*{
    box-sizing: border-box;
}
@font-face {
    font-family: "poppins-300";
    src: url(../assets/fuentes/Poppins-Light.ttf);
}
@font-face {
    font-family: "poppins-400";
    src: url(../assets/fuentes/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins-600";
    src: url(../assets/fuentes/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins-700";
    src: url(../assets/fuentes/Poppins-Bold.ttf);
}

body{
    margin: 0 auto;
    background-image: url("./../assets/img/fondo_pag.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
/*******Contenedor*******/
.container{
    margin: auto;
    width: 980px;
    background-color: #0f1923;
}
/*******Menú*******/
.header{
    background-color:#1a1f28;  
    margin: 10px;
    font-variant: small-caps;
    font-size: 1.9rem;
    text-align: center;
   
}
.header ul{
    margin: 0px;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header a{
    text-decoration: none;
    color:#ff4655;
    font-family: "poppins-400";
    padding: 10px;
    
}
.header :hover{
   color: #00aeff;
}
/*******Cuerpo*******/
.cuerpo{
    margin: 10px;
}
/*******Título*******/
.title1{
    border: 1px solid beige;
    background-image: url("./../assets/img/fondoh1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain; 
    text-align: center;
    font-size: 3rem;
    font-family: "poppins-700";
    color: #000000; 
    text-transform: uppercase;
}
/*******Cuerpo*******/
.cuerpo{
    margin: 10px;
}
/*******Cajas-Mapas*******/
.cajas{
    text-align: center;
    margin: 10px;
    
}
/*******Subtítulo*******/
.title2{
    text-align: center;
    font-size: 2rem;
    font-family: "poppins-600";
    color: #00aeff;
     margin-top: 20px;

}
/*******Texto*******/
p{
    color:#ece8e1;
    font-family: "poppins-300";
    text-align: justify;
    font-size: 1rem;
    margin: 10px;
}
/*******Fotos*******/
.fotos{
    width: 970px;
    height: 360px;
}